.bannerImageMain {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("/img/backgrounds/raised-hand.jpg");
}

.bannerImageAlt {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("/img/backgrounds/man-reading-bible.jpg");
}

.gridColumns3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
